* {
    box-sizing: border-box;
}
    /* justify x axle */
    /* align y axle */ 

    @font-face {
        font-family: pokefont;
        src: url('pokefont.ttf');
    }

:root{
--blue-color: rgb(42, 117, 187);
--yellow-color: rgb(251, 251, 45);
--pokeball-red: rgb(238,21,21);
--pokeball-black: rgb(34,34,36);
--pokeball-white: rgb(240,240,240);

}

body{
  height: 100vh;

  overflow-y: hidden;

    background-color: var(--pokeball-black);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    position: sticky;
    top: 0px;
    background-color: var(--pokeball-black);
font-family: pokefont;
font-size: 4em;

color: var(--yellow-color);
-webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb( 60, 90, 166);

  padding-inline-start: 20px;
}

.header-container{
  position: sticky;
  top: 0px;
  background-color: var(--pokeball-black);
  display: flex;
  gap: 5px;
}

.logo{
  /* width: 8vh; */
  /* position: relative; */
  /* bottom: 100px; */
  /* left: 30vw; */
  width: 50px;
  height: 50px;

  align-self: center;
}

.dark-mode-btn{
  position: fixed;
  right: 25%;
  top: 6%;
}

.screen-container{
   display: grid;
  grid-template-columns: 35vw auto;
  
}

.pokemon-screen{
  grid-column: 2 / 3;
  grid-row: 1;
  width: auto;
  height: 80vh;
  background-color: var(--pokeball-white);

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 10% 70% 20%;
}

.pokemon-select-container{
  grid-row: 1/2;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  background-color: rgb(182, 182, 182);

  position: fixed;
  /* bottom: 0px; */
  /* left: 0px; */
  /* right: 0px; */

  width: 64vw;

  /* height: 5vh; */
}

.pokemon-btn{
  display: flex;
  /* grid-template-rows: repeat(2,1fr); */

  justify-content: center;
  align-items: center;

  flex-basis: auto;
  
  /* height: 20%; */
}

.screen-sprite{
  /* position: absolute; */
  
  width: 20%;

}

.artwork-container{
  display: grid;
  /* grid-template-columns: repeat(2,1fr); */

  grid-template-rows: 90% auto;


  grid-row: 2/3;
  grid-column: 2/3;

  align-self: center;
  justify-self: center;
}

.pokemon-screen .text-container{
  grid-column: 1/2;
  grid-row: 2/3;

  padding: 10px;

  justify-self: center;
  align-self: center;
}

.dex-entry{
  /* max-width: 140px; */
  /* max-height: 100px; */
}

.artwork{
  grid-row: 1/2;

  justify-self: center;

  max-width: 80%;

  max-height: 40vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

.shiny-switch-btn:hover{
  cursor: pointer;

}

.shiny-switch-btn:active{
  /* background-color: var(--pokeball-black); */
  box-shadow: rgba(251, 255, 0, 0.359) 0 0 90px 33px;

}

.type{
  /* background-color: rgb(68, 68, 68); */
  /* grid-row: 2 / 3; */
  /* grid-column: 1 / 2; */
}

.fa-circle-play{
  padding-inline-start: 10px;
}

.screen-type{
  

  border-radius: 5px;
  border: 1px solid var(--pokeball-black);

  width: 15vw;
  height: 5vw;

  padding: 5px;



  box-shadow: rgba(0, 0, 0, 0.03) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.078) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.pokemons{
  grid-column: 1 / 2;
  grid-row: 1;
  width: 35vw;
  height: 80vh;

  overflow: overlay;

 
}

ul{
  margin-top: 0px;
  padding-inline-start: 5px;

}

li{
    margin: 5px;
    padding-inline-start: 5px;

    list-style-type: none;
    
    background-color: var(--pokeball-red);
    /* border: 5px solid var(--pokeball-black); */
}



h2{
    width: 200px;
}

li:nth-of-type(2n){
    
    background-color: var(--pokeball-white);
}

.article{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sprite-container{
    justify-self: center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 1fr; */
}

.download-btn{
    height: 20%;
    width: 50%;
}

.sprite{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;

    /* width: 10vw; */
}

.type{
  grid-column: 1/-1;
  grid-row: 3/4;

  width: auto;
  height: auto;

    display: flex;
    gap: 5px;
    justify-content: center;


}

.typing{
    width: 48px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    /* flex-basis: auto; */
}



.page-select-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    background-color: var(--blue-color);

    position: sticky;
    bottom: 0px;
    left: 0px;
    right: 0px;

    width: 100%;

    /* margin-inline-start: 10px; */
    /* margin: 10px; */

    height: 5vh;

}

.page-btn{
    width: 75%;
    /* height: 90%; */
    /* position: relative; */
    margin: 5px;
    cursor: pointer;

}

.page-btn:hover{
    /* background-color: var(--yellow-color); */
}

/*  */

.hidden{
    display: none;
}

.screen{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.453);

    height: 100vh;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 500px;
  }

  input[type="checkbox"] {
    display: none;
}

:has(input:checked) .control-me {
    background-color: lightblue;
}

.pill-checkbox-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: whitesmoke;
    
    width: 60px;
    height: 30px;
    margin: 0 auto;
    
    border: 1px solid gray;
    border-radius: 100vh;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.pill-checkbox-label > div {
    position: absolute;
    left: 0;
    top:0;
    scale: .85;

    width: 50%;
    height: 100%;
    
    background-color: black;
    border-radius: 50%;
    
    transition: 0.4s ease-in-out;
}

:has(input:checked) .pill-checkbox-label  {
    background-color: black;
    color: whitesmoke;
}


:has(input:checked) .pokemon-screen,:has(input:checked) li {
    background-color: rgb(55, 55, 55);
    color: whitesmoke;
  }
  
  :has(input:checked) li:nth-of-type(2n){
    background-color: rgb(130, 130, 130);

}


:has(input:checked) .pill-checkbox-label > div {
    background-color: whitesmoke;
    translate: 100% 0;
}


  
  @keyframes blur {
    0% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
    }
    50% {
      -webkit-filter: blur(1px);
      filter: blur(1px);
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
    }
  }
  
  #top1 {
    transform-origin: bottom center;
    animation: move_top1 ease-out 1.2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes move_top1 {
    0% {
      transform: translate(0, 0) scale(1) rotate(0deg);
    }
    50% {
      transform: translate(-1.5%, -25%) scale(1.3) rotate(-0.5deg);
    }
    100% {
      transform: translate(0, 0) scale(1) rotate(0deg);
    }
  }
  
  #top2 {
    transform-origin: bottom left;
    animation: move_top2 ease-out 1.2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes move_top2 {
    0% {
      transform: translate(0, 0) scale(1) rotate(0deg);
    }
    50% {
      transform: translate(-10%, 1%) scale(1.1) rotate(-2.1deg);
    }
    100% {
      transform: translate(0, 0) scale(1) rotate(0deg);
    }
  }
  
  #bottom1 {
    transform-origin: top center;
    animation: move_bottom1 ease-out 1.2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes move_bottom1 {
    0% {
      transform: translate(0, 0) scale(1) rotate(0deg);
    }
    50% {
      transform: translate(0%, 45%) scale(1.3) rotate(0deg);
    }
    100% {
      transform: translate(0, 0) scale(1) rotate(0deg);
    }
  }
  
  #bottom2 {
    transform-origin: top left;
    animation: move_bottom2 ease-out 1.2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes move_bottom2 {
    0% {
      transform: translate(0, 0) scale(1) rotate(0deg);
    }
    50% {
      transform: translate(38%, 1%) scale(1.3) rotate(-3.5deg);
    }
    100% {
      transform: translate(0, 0) scale(1) rotate(0deg);
    }
  }
  
  #bottom3 {
    transform-origin: top right;
    animation: move_bottom3 ease-out 1.2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes move_bottom3 {
    0% {
      transform: translate(0, 0) scale(1) rotate(0deg);
    }
    50% {
      transform: translate(12%, 5%) scale(1.1) rotate(-1deg);
    }
    100% {
      transform: translate(0, 0) scale(1) rotate(0deg);
    }
  }
  
  #bottom4 {
    transform-origin: top left;
    animation: move_bottom4 ease-out 1.2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes move_bottom4 {
    0% {
      transform: translate(0, 0) scale(1) rotate(0deg);
    }
    50% {
      transform: translate(-12%, 5%) scale(1.1) rotate(0deg);
    }
    100% {
      transform: translate(0, 0) scale(1) rotate(0deg);
    }
  }
  
  svg {
    width: 300px;
    animation: animationFrames ease-in-out 1.2s;
    animation-delay: 0.05s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
  }
  
  @keyframes animationFrames {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-720deg);
    }
  }

  .bug{
    background-color: rgb(158, 233, 17);

  }

  .dark{
    background-color: rgb(50, 50, 50);
  }

  .dragon{
    background-color: rgb(55, 0, 206);
  }

  .electric{
    background-color: rgb(209, 209, 0);
  }

  .fairy{
    background-color: rgb(255, 0, 242);
  }

  .fighting{
    background-color: crimson;
  }
  .fire{
    background-color: rgb(255, 163, 71);
  }
  .flying{
    background-color: rgb(11, 187, 190);
  }
  .ghost{
    background-color: rgb(107, 20, 220);
  }
  .grass{
    background-color: rgb(15, 215, 22);
  }
  .ground{
    background-color: #E2BF65;
  }
  .ice{
    background-color: rgb(158, 224, 212);
  }
  .normal{
    background-color: rgb(163, 163, 163);
  }
  .poison{
    background-color: rgb(167, 20, 220);
  }
  .psychic{
    background-color: rgb(255, 145, 231);
  }
  .rock{
    background-color: #b6a136;
  }
  .steel{
    background-color: rgb(206, 220, 223);
  }
  .water{
    background-color: rgb(116, 126, 234);
  }

  .star{  
    
    margin-left: 40px;
    /* margin-top: -50px; */

    position: fixed;

    width: 5vw;
    max-width: 40px;
}

  @media (max-width: 1200px) {

    h1{
      font-size: 3.5em;
    }

    .screen-container{
      display: block;
    }
    
    .pokemon-select-container{
      width: 98%;
    }

    .pokemon-screen{
      height: 40vh;
    }

    .pokemons{
      padding: 5px;
      width: 98vw;
      height: 40vh;
    }

    .artwork-container{
      gap: 0px;
      max-height: 200px;
    }

    .artwork{
      /* width: 55%; */
      /* max-width: 200px; */
      height: 90%;
      justify-self: center;
    }

    .page-select-container{
      position: fixed;
    }

    .screen-type{
      height: 8vh;
    }

    .star{  
    
      margin-left: 50px;

      width: 30px;

  }
  }

  @media (max-width: 520px) {
    
    h1{
      font-size: 3rem;
    }

    .sprite{
      width: 20vw;
    }

    .screen-sprite{
      display: none;
    }

    .typing{
      width: 48px;
      height: 30px;

      align-self: center;
    }

    .type{
      
    }

    h2{
      width: 150px;
      font-size: 15px;

    }

    h3{
      font-size: 10px;
    }

    p{
      font-size: 10px;
    }

    ul{
      padding: 5px;
    }

    body{
      margin:0;
    }
    
    .page-select-container{
      margin-inline-start: 10px;
    }

    .dex-entry{
      max-width: 140px;
      /* max-height: 100px; */
    }
    
    .dark-mode-btn{
      position: fixed;
      right: 2%;
      top: 6%;
    }

  }



.floating{
  animation-name: floating;
    animation-duration: 0.5s;
    /* animation-iteration-count: infinite; */
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, -20px); }
    to   { transform: translate(0, -0px); }    
}